[Unit]
Description=Mount for chaindata volume
# Network dependency
After=network-online.target
Requires=network-online.target
# Volume dependency
After=chaindata-volume-attachment.service
Requires=chaindata-volume-attachment.service

[Mount]
What=/dev/nvme1n1
Where=/var/lib/chaindata
LazyUnmount=yes

[Install]
WantedBy=multi-user.target