[Unit]
Description=Ethereum go client volume attachment
# Network dependency
Requires=network-online.target
After=network-online.target

[Service]
User=ubuntu
Group=ubuntu
Type=oneshot

ExecStart=/usr/local/bin/attach-volume.sh
ExecStart=+/usr/local/bin/format-volume.sh

ExecStop=-+/usr/local/bin/detach-volume.sh

RemainAfterExit=yes

[Install]
WantedBy=default.target