[Unit]
Description=Ethereum go client
# Network dependency
Requires=network-online.target chaindata-volume-attachment.service var-lib-chaindata.mount var-lib-chaindata-directory-creator.service
After=network-online.target var-lib-chaindata.mount var-lib-chaindata-directory-creator.service
Wants=network-online.target

[Service]
User=goeth 
Group=goeth
Type=simple
Restart=always
RestartSec=60

EnvironmentFile=/etc/systemd/system/geth.service.env

ExecStart=geth ${GETH_NETWORK} --http --http.addr ${GETH_LISTEN_ADDRESS} --http.api ${GETH_HTTP_APIS} --http.vhosts * --datadir ${GETH_DATA_DIR} ${GETH_METRICS_FLAG}


[Install]
WantedBy=default.target