[Unit]
Description=Ethereum go client
# Network dependency
After=network-online.target 
Wants=network-online.target

[Service]
User=goeth 
Group=goeth
Type=simple
Restart=always
RestartSec=60

EnvironmentFile=-/etc/systemd/system/geth.service.env

ExecStart=geth --goerli --http --http.addr 0.0.0.0 --http.api net,eth,web3 --http.vhosts * --datadir /var/lib/chaindata/goethereum

[Install]
WantedBy=default.target