[Unit]
Description=Lighthouse Validator
# Network dependency
Requires=network-online.target chaindata-volume-attachment.service var-lib-chaindata.mount var-lib-chaindata-directory-creator.service
After=network-online.target chaindata-volume-attachment.service var-lib-chaindata.mount var-lib-chaindata-directory-creator.service geth.service lighthousebeacon.service

[Service]
Type=simple
User=lighthousevalidator
Group=lighthousevalidator
Restart=always
RestartSec=15

EnvironmentFile=/etc/systemd/system/lighthousevalidator.service.env

ExecStart=/usr/local/bin/lighthouse validator_client --network ${LIGHTHOUSE_NETWORK} --datadir ${LIGHTHOUSE_DATA_DIR} --graffiti ${LIGHTHOUSE_GRAFFITI}

[Install]
WantedBy=multi-user.target
