[Unit]
Description=Lighthouse Beacon Node Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=lighthousebeacon
Group=lighthousebeacon
Restart=always
RestartSec=30

EnvironmentFile=-/etc/systemd/system/lighthousebeacon.service.env

ExecStart=/usr/local/bin/lighthouse beacon_node --datadir /var/lib/chaindata/lighthouse --network pyrmont --staking --eth1 --eth1-endpoints http://localhost:8545 --metrics

[Install]
WantedBy=multi-user.target