[Unit]
Description=Lighthouse Validator
# Network dependency
Requires=network-online.target
After=network-online.target
# Lighthouse dependency
After=lighthousebeacon.service

[Service]
Type=simple
User=lighthousevalidator
Group=lighthousevalidator
Restart=always
RestartSec=15

EnvironmentFile=-/etc/systemd/system/lighthousevalidator.service.env

ExecStart=/usr/local/bin/lighthouse validator_client --network pyrmont --datadir /var/lib/chaindata/lighthouse --graffiti "everythingbiigpyrmont"

[Install]
WantedBy=multi-user.target
