[Unit]
Description=Ethereum go client volume attachment
# Network dependency
Requires=network-online.target chaindata-volume-attachment.service var-lib-chaindata.mount
After=network-online.target chaindata-volume-attachment.service var-lib-chaindata.mount

[Service]
User=ubuntu
Group=ubuntu
Type=oneshot
Restart=on-failure
RestartSec=60

ExecStart=/usr/local/bin/create-directories.sh

RemainAfterExit=yes

[Install]
WantedBy=default.target